page-partner {

.partner {

  ion-list {
    position: relative;
    text-align: center;
    color: #0085ff;
  }
  
  .item {
    position: center;
  }

  .list-item {
      position: center;
      text-align: center;
      font-weight: bold;
      height: auto;
      width: auto;
  }
}

}