page-pads {

.pads {

  ion-list {
    position: relative;
    text-align: center;
    height: 200px;
    color: #0085ff;
  }

  .list-item {
      text-align: center;
      font-weight: bold;
  }
}

}